{% extends 'driver/driverheader.html' %}
{% load static %}
{% block content %}  
  <!-- Left side column. contains the logo and sidebar -->

  <!-- Content Wrapper. Contains page content -->
 
    

    <div class="content-wrapper"> 
        <!-- Content Header (Page header) -->
        <div class="content-header sty-one">
          <h1>Data Tables</h1>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="#">Tables</a></li>
            <li><i class="fa fa-angle-right"></i> Track Order Tables</li>
          </ol>
        </div>
        
        <!-- Main content -->
        <div class="content">
          <div class="card">
          <div class="card-body">
          <h4 class="text-black">Track order Table</h4>
          <div class="table-responsive">
                      <table id="example2" class="table table-bordered table-hover" data-name="cool-table">
                        <thead>
                          <tr>
                           
                            <th>Booking Name</th>
                            <th>Track Order Detail</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for b in bookings %}
                          <tr>

                           
                            <td>{{ b.id }}</td>
                            
                            <td> 
                                <form method="GET">
                                <div class="has-success">
                                    <div class="checkbox">
                                      <label>
                                        <input name="trackvalue" value="1" type="checkbox">
                                        Dispatch </label>

                                    <input type="submit"/>
                                    </div>
                                  </div>
                                </form>
                            </td>
    
                           
                          </tr>
                        {% endfor %}
                        </tbody>  
                      </table>
                      </div>
          </div></div>
          
          
    
        </div>
        <!-- /.content --> 
      </div>
    <!-- Main content -->
    
   
  <!-- /.content-wrapper -->
{% endblock %}  