{% extends 'admin/header.html' %}
{% load static %}
{% block content %}
  <!-- Left side column. contains the logo and sidebar -->
  
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"> 
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>Dashboard</h1>
      <ol class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li><i class="fa fa-angle-right"></i> Dashboard</li>
      </ol>
    </div>
    
    <!-- Main content -->
    <div class="content">
      <div class="row">
        <div class="col-lg-4 col-xs-6 m-b-3">
          <div class="card">
            <div class="card-body"><span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>
              <div class="info-box-content"> <h2><span class="info-box-number">{{ customers }}</span></h2> <h3><b><span class="info-box-text">Users</span></b></h3> </div>
              <div><a href="/managecustomer">View Users</a> </div>
            </div>
          </div>
        </div>
     
        <div class="col-lg-4 col-xs-6 m-b-3">
          <div class="card">
            <div class="card-body"><span class="info-box-icon bg-green"><i class="fa fa-database"></i></span>
              <div class="info-box-content"> <h2><span class="info-box-number">{{ categories }}</span></h2> <h3><b><span class="info-box-text"> Total Categories</span></b></h3></div>
              <div><a href="/managecategory">View Categories</a> </div>
            </div>
          </div>
        </div>
       
        <div class="col-lg-4 col-xs-6 m-b-3">
          <div class="card">
            <div class="card-body"><span class="info-box-icon bg-yellow"><i class="fa fa-shopping-cart"></i></span>
              <div class="info-box-content"> <h2><span class="info-box-number">{{ bookings }}</span></h2> <h3><b><span class="info-box-text">Total Booking</span></b></h3></div>
              <div> <a href="/managebooking">View Bookings</a> </div>
            </div>
          </div>
        </div>
       
      </div>
      <!-- /.row -->
      
    </div>  
    <!-- /.content --> 
  </div>
  <!-- /.content-wrapper -->
  {% endblock %}
