{% extends 'admin/header.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper"> 
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>Data Tables</h1>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><i class="fa fa-angle-right"></i> <a href="#">Tables</a></li>
        <li><i class="fa fa-angle-right"></i> Data Tables</li>
      </ol>
    </div>
    
    <!-- Main content -->
    <div class="content">
      <div class="card">
      <div class="card-body">
      <h4 class="text-black">Enterprise Table</h4>
      <div class="table-responsive">
                  <table id="example2" class="table table-bordered table-hover" data-name="cool-table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Person Name</th>
                        <th>Company Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Contact_no</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                    {% for e in enterprises %}
                      <tr>
                        <td>{{ e.id }}</td>
                        <td>{{ e.person_name }}</td>
                        <td>{{ e.company_name }}</td>
                        <td>{{ e.address }}</td>
                        <td>{{ e.email }}</td>
                        <td>{{ e.contact_no }}</td>
                      
                      </tr>
                      {% endfor %}
                    </tbody>  
                  </table>
                  </div>
      </div></div>
      
      

    </div>
    <!-- /.content --> 
  </div>
  {% endblock %}
  {% block script %}
  <script src="{% static 'dist/plugins/datatables/jquery.dataTables.min.js' %}"></script> 
  <script src="{% static 'dist/plugins/datatables/dataTables.bootstrap.min.js' %}"></script> 
  <script>
    $(function () {
      $('#example1').DataTable()
      $('#example2').DataTable({
        'paging'      : true,
        'lengthChange': false,
        'searching'   : false,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false
      })
    })
  </script>
  
  <script src="{% static 'dist/plugins/table-expo/filesaver.min.js' %}"></script>
  <script src="{% static 'dist/plugins/table-expo/xls.core.min.js' %}"></script>
  <script src="{% static 'dist/plugins/table-expo/tableexport.js' %}"></script>
  <script>
  $("table").tableExport({formats: ["csv", "txt"],    });
  </script>
  {% endblock %}
  
  
