{% extends 'admin/header.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper"> 
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>Data Tables</h1>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><i class="fa fa-angle-right"></i> <a href="#">Tables</a></li>
        <li><i class="fa fa-angle-right"></i> Data Tables</li>
      </ol>
    </div>
    
    <!-- Main content -->
    <div class="content">
      <div class="card">
      <div class="card-body">
      <h4 class="text-black">Driver Table</h4>
      <div class="table-responsive">
                  <table id="example2" class="table table-bordered table-hover" data-name="cool-table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Driver Name</th>
                         <th>Address</th>
                        <th>Email</th>
                        <th>RC Image</th>
                        <th>License Image</th>
                        <th>Contact no</th>
                        <th>City Name</th>
                        <th>Vehicle Name</th>
                        <th>Vehicle Number</th>
                        <th>Confirmation</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for d in drivers %}
                      <tr>
                        <td>{{ d.id }}</td>
                        <td>{{ d.driver_name }}</td>
                        <td>{{ d.address }}</td>
                        <td>{{ d.email }}</td>
                        <td><img src="{{ d.rc_image.url }}" height="50" width="100"></td>
                        <td><img src="{{ d.license_image.url }}" height="50" width="100"></td>
                        <td>{{ d.contact_no }}</td>
                        <td>{{ d.city_id.city_name }}</td>
                        <td>{{ d.vehicle_id.vehicle_name }}</td>
                        <td>{{ d.vehicle_no }}</td>
                        <td>{{ d.block_status }}</td>
                        <td>{{ d.status }}</td>

                      
                      </tr>
                      {% endfor %}
                    </tbody>  
                  </table>
                  </div>
      </div></div>
      
      

    </div>
    <!-- /.content --> 
  </div>
  {% endblock %}
  {% block script %}
  <script src="{% static 'dist/plugins/datatables/jquery.dataTables.min.js' %}"></script> 
  <script src="{% static 'dist/plugins/datatables/dataTables.bootstrap.min.js' %}"></script> 
  <script>
    $(function () {
      $('#example1').DataTable()
      $('#example2').DataTable({
        'paging'      : true,
        'lengthChange': false,
        'searching'   : false,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false
      })
    })
  </script>
  
  <script src="{% static 'dist/plugins/table-expo/filesaver.min.js' %}"></script>
  <script src="{% static 'dist/plugins/table-expo/xls.core.min.js' %}"></script>
  <script src="{% static 'dist/plugins/table-expo/tableexport.js' %}"></script>
  <script>
  $("table").tableExport({formats: ["csv", "txt"],    });
  </script>
  {% endblock %}
  
  
